In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Store filepath in a variable
file_one = Path("Resources/DataOne.csv")

In [3]:
# Read our data file with the Pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [4]:
# Show the first five rows.
file_one_df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [5]:
# Show a single column
file_one_df["full_name"].head()

0    Jacquenette Nesterov
1         Leanora Cashell
2           Arley Medford
3       Rafaello Crawshaw
4       Karalee Hallaways
Name: full_name, dtype: object

In [6]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["full_name", "email"]].head()

              full_name                       email
0  Jacquenette Nesterov  jnesterov0@squarespace.com
1       Leanora Cashell       lcashell1@blogger.com
2         Arley Medford     amedford2@newyorker.com
3     Rafaello Crawshaw     rcrawshaw3@multiply.com
4     Karalee Hallaways      khallaways4@uol.com.br

In [7]:
# Show the last five rows.
file_one_df.tail()

     id          full_name                      email  gender
95   96    Lucienne McFaul           lmcfaul2n@vk.com  female
96   97  Sheelagh Chretien      schretien2o@google.it    male
97   98       Ransom Smyth     rsmyth2p@geocities.com    male
98   99     Mauricio Goane            mgoane2q@nhs.uk    male
99  100      Iain Stephens  istephens2r@newyorker.com    male

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)